body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("{% static 'logo.png' %}");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
    background-color: rgb(98, 98, 243);
    margin: 0;
}
h1 {
    display: flex;            
    align-items: center;
    margin-bottom: 550px;      
    color:black;           
    gap: 10px;                
    font-size: 32px;
    font-weight: bold;
    
}

.logo {
    margin-bottom: 530px;      
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.box{
    align-items: center;
}
.login-container {
            background: #ffffff;
            padding: 40px 30px;
            border-radius: 12px;
            box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
            width: 350px;
            text-align: center;
        }
        .login-container img.logo {
            width: 70px;
            height: 70px;
            margin-bottom: 15px;
        }
        .login-container h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #003366;
        }
        .alert {
            margin-top: 10px;
        }